.carcasa {
    position: absolute;
    height: 600px;
    width: 400px;
    background: rgb(224, 218, 218);
    border-radius: 10px 10px 60px 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}

/*LINEAS PARTE SUPERIOR*/
.linea-horiz {
    position: absolute;
    height: 4px;
    width: 400px;
    background: gray;
    margin-top: 30px;
}

.linea-vert1 {
    position: absolute;
    background: gray;
    height: 30px;
    width: 4px;
    margin-left: 35px;
}

.linea-vert2 {
    position: absolute;
    background: gray;
    height: 30px;
    width: 4px;
    margin-left: 364px;
}

/*PANTALLA*/
.borde-pantalla {
    position: absolute;
    background: rgb(146, 146, 146);
    height: 290px;
    width: 350px;
    border-radius: 10px 10px 65px 10px;
    margin-top: 60px;
    margin-left: 27px;
}

.pantalla {
    position: absolute;
    background: #9ca04c;
    height: 222px;
    width: 270px;
    top: 98px;
    left: 74px;
    box-shadow: inset 4px 4px 5px rgba(0, 0, 0, 0.15),
        inset -4px 4px 5px rgba(0, 0, 0, 0.15);
}

.led-encendido {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 150px;
    left: 50px;
    border-radius: 100%;
    background-color: red;
}

.led-text {
    position: absolute;
    font-family: sans-serif;
    font-size: 8px;
    top: 171px;
    left: 37px;
    color: #b3b3b3;
}

/*NOMBRE DE GAMEBOY*/
.text-consola {
    display: flex;
    position: relative;
    top: 340px;
    left: 40px;
    color: #283593;
    font-weight: bold;
    font-size-adjust: 50;
}

.texto-gameboy {
    font-family: "Open Sans";
    font-size: 28px;
    font-style: oblique;
    margin-top: 11px;
    margin-left: 8px;
}

.texto-nintendo {
    font-family: sans-serif;
    font-size: 19px;
    margin: 0;
    margin-top: 19px;
    margin-left: -12px;
}

.texto-tm {
    font-family: sans-serif;
    font-size: 10px;
    margin: 0;
    margin-top: 27px;
    margin-left: 1px;
}

/*BOTONES A y B*/
.botones-fondo {
    position: absolute;
    background: #dfdfdf;
    height: 60px;
    width: 130px;
    top: 420px;
    left: 245px;
    border-radius: 30px;
    box-shadow: inset 1px 15px 17px 1px rgb(163, 162, 162),/*sombra*/
        inset -30px -37px 20px 10px rgb(238, 237, 237);/*obalo*/
    transform: rotate(-20deg);
}

.boton-A {
    position: relative;
    height: 44px;
    width: 44px;
    top: 8px;
    left: 79px;
    background: red;
    border-radius: 100%;
    box-shadow: -1px -1px 2px 0px #353236;
}

.boton-B {
    position: relative;
    height: 44px;
    width: 44px;
    top: -35px;
    left: 10px;
    background: red;
    border-radius: 100%;
    box-shadow: -1px -1px 2px 0px #353236;
}

.text-A {
    position: absolute;
    top: 47px;
    left: 27px;
    color: rgb(81, 80, 122);
    font-family: "Nova Square";
    font-size: 15px;
    font-style: initial;
    font-weight: bold;
    justify-content: left;
}

.text-B {
    position: absolute;
    top: 47px;
    left: 100px;
    color: rgb(81, 80, 122);
    font-family: "Nova Square";
    font-size: 15px;
    font-style: initial;
    font-weight: bold;
    justify-content: left;
}

/*START y SELECT*/
.options {
    position: absolute;
    background: #9999;
    border-radius: 10px;
    height: 13px;
    width: 70px;
    top: 565px;
    left: 130px;
    box-shadow: 57px 27px 0px #9999, 0 0 0 5px #dfdfdf, 57px 27px 0 5px #dfdfdf;
    transform: rotate(-20deg);
}

.text-start {
    position: relative;
    color: #283593;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
    font-weight: bold;
    top: 1px;
    left: 19px;
}

.text-select {
    position: relative;
    color: #283593;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
    font-weight: bold;
    top: 1px;
    left: 74px;
}

 /*FLECHAS DIRECCION*/
.flechas {
    display: block;
    position: absolute;
    margin-top: 90px;
}

.fondo-direccion {
    position: absolute;
    width: 115px;
    height: 115px;
    top: 269px;
    left: 25px;
    border-radius: 100%;
    box-shadow: inset 0px 0px 12px 10px rgb(231, 230, 230);
}

.vertical {
    content: "";
    position: absolute;
    width: 30px;
    height: 93px;
    top: 279px;
    left: 68px;
    background: #444;
    background: black;
    border-radius: 5px;
    box-shadow: inset 2px 2px 5px 1px rgb(48, 48, 48), 0px 1px 2px 1px black;
}

.horizontal {
    content: "";
    position: absolute;
    width: 93px;
    height: 30px;
    top: 310px;
    left: 35px;
    background: black;
    border-radius: 5px;
    box-shadow: inset -1px -1px 5px 1px rgb(48, 48, 48), 1px 1px 2px 1px black;
}